body{
    background: tomato
}

.searchbox {
  background: red;
}

.note {
    width: 300px;
    height: auto;
    background: rgb(229, 255, 114);
    padding: 5px;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px
}

.note-title {
    font-size: 16px;
    font-weight: bold
}
